/**
 * Bulma
 */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$family-sans-serif: "Trebuchet MS", sans-serif;

$primary: #fa9d39;

$facebook: #1877f2;
$facebook-invert: findColorInvert($facebook);
$feedly: #2db24c;
$feedly-invert: findColorInvert($feedly);
$hateb: #00a4de;
$hateb-invert: findColorInvert($hateb);
$inoreader: #03a9f4;
$inoreader-invert: findColorInvert($inoreader);
$kyash: #29d1ff;
$kyash-invert: #ffffff;
$twitter: #1da1f2;
$twitter-invert: findColorInvert($twitter);

@import "~bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "facebook": ($facebook, $facebook-invert),
  "feedly": ($feedly, $feedly-invert),
  "hateb": ($hateb, $hateb-invert),
  "inoreader": ($inoreader, $inoreader-invert),
  "kyash": ($kyash, $kyash-invert),
  "twitter": ($twitter, $twitter-invert)
);

$colors: map-merge($colors, $addColors);

$box-shadow: 0 0 1.5px rgba($scheme-invert, 0.5);
$card-shadow: 0 0 1.5px rgba($scheme-invert, 0.5);
$variable-columns: false;
@import "~bulma/bulma";

/**
 * ワクラバ共通
 */
address {
  font-style: normal;
}

.button {
  font-family: Arial, sans-serif;
  font-weight: 600;

  i {
    font-weight: normal;
  }
}

.contents {
  padding: 2rem 0;

  @include until($desktop) {
    padding: 1rem 0;

    .container {
      padding: 0.5rem 0.75rem;
    }
  }
}

.footer {
  @include until($desktop) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  a {
    color: #4a4a4a;

    &:hover {
      color: #3273dc;
    }
  }

  li {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
}

.logo-worklover {
  height: 1.75rem;
}

/**
 * ワクラバ本体共通
 */
.hero {
  background: linear-gradient(#53984d, #00553e);
}

.article {
  ul {
    padding-left: 1rem;

    li {
      list-style-type: square;
      margin: 0.3rem;

      li {
        list-style-type: circle;
      }
    }
  }
}

.preamble {
  margin-bottom: 1.5em;
}
