@font-face {
  font-family: 'icon';
  src:  url('/fonts/icon.eot?p9xswp');
  src:  url('/fonts/icon.eot?p9xswp#iefix') format('embedded-opentype'),
    url('/fonts/icon.ttf?p9xswp') format('truetype'),
    url('/fonts/icon.woff?p9xswp') format('woff'),
    url('/fonts/icon.svg?p9xswp#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feedly:before {
  content: "\e901";
}
.icon-hateb:before {
  content: "\e903";
}
.icon-hateb-square:before {
  content: "\e905";
}
.icon-hateblo:before {
  content: "\e907";
}
.icon-inoreader:before {
  content: "\e909";
}
.icon-kyash:before {
  content: "\e90a";
}
.icon-qiita:before {
  content: "\e90b";
}
.icon-wantedly:before {
  content: "\e90d";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-code:before {
  content: "\f121";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-get-pocket:before {
  content: "\f265";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-amazon:before {
  content: "\f270";
}
.icon-facebook-f:before {
  content: "\f39e";
}
